@import url('https://fonts.maateen.me/bangla/font.css');
body {
   background-color:#1A1A1A;
   margin:0;
   color:#9E9E9E;
   font-family: 'Bangla', Arial, sans-serif !important;
}

a {
   color:#9E9E9E;
   text-decoration:none;
}

a:hover {
   color:#858585;
   text-decoration:none;
}

#content {
   margin-right:auto;
   border-radius:5px;
   background-color:#262626;
   margin-left:auto;
   margin-top:50px;
   width:65%;
   height:auto;
   padding:15px;
   border: 3px solid #2E2E2E;
   margin-bottom:50px;
}

p {
   font-size:12px;
   padding-left:35px;
}

ul {
   padding-left:70px;
}

li {
   margin-bottom:10px;
}














span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
